<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<html>
<head>
  <title>Balloon Dash HTTP</title>
</head>
<body>
<div align=center>
<h1>Balloon-Dash</h1>
<h2> Register your competition to use Balloon-Dash</h2>
<form method="post" action="/register">
  Contest Stub: <input type="text" name="stub"> <br>
  Alert Thresholds (JSON): <input type="text" name="alerts"> <br>
  Username: <input type="text" name="username"> <br>
  Password: <input type="text" name="password"> <br>
  Categories Map (JSON): <input type="text" name="categories"> <br>
  Tags Map (JSON): <input type="text" name="tags"> <br>
  <input type="submit" value="Register">
</form>
</div>
</body>
</html>
